<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nozama Ecommerce Database Project - New Product</title>
    <meta name="author" content="Ruoda Yuan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/barebones.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>


<body>

    <div class="grid-container full">
        <h1>Nozama Online Store Database</h1>
        
        <div><a href="/">← Home</a></div>

        <h2>Create New Product</h2>

        <form action = "/insert" method = "post" id="create_product" style="margin-bottom: 0;">
            <div class="container space-between">
                <b>Name:&nbsp;&nbsp;<input name="p_name" type="text"/></b>
                <b>Type:&nbsp;&nbsp;<input name="type" type="text"/></b>
                <b>Vendor:&nbsp;&nbsp;<input name="vendor" type="text"/></b>
                <b><input value = "Update" type = "submit" /></b>
            </div>
        </form>

        <b style="text-align: left;">Product Description:</b>
        <textarea name="p_description" form="create_product">{{ p_description }}</textarea>
    </div>

</body>
</html>