<h1>View Products</h1>
<br/>
<table>
    {% for product in products %}
        <tr>
            <td> {{ product.p_name }} </td>
            <td> {{ product.type }} </td>
            <td> {{ product.vendor }} </td>
            <td> <a href="/product/{{ product.p_id }}">View Details</a> </td>
        </tr>
    {% endfor %}
</table>

<br/>
<br/>

<form action = "/search" method = "post">
    Product Name: <input name = "p_name" type="text" />
    Type: <input name = "type" type="text" />
    Vendor: <input name = "vendor" type="text" />
    <input value = "Search" type = "submit" />
</form>

<br/>
<br/>

{% if page > 0 %}
    {% if page == 1 %}
        <a href="/{{ query_string }}">prev</a>
    {% else %}
        <a href="{{ (page-1) }}{{ query_string }}">prev</a>
    {% endif %}
{% endif %}
{% if has_next %}
    <a href="{{ page+1 }}{{ query_string }}">next</a>
{% endif %}