<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nozama Ecommerce Database Project - Home</title>
    <meta name="author" content="Ruoda Yuan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/barebones.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>


<body>

    <div class="grid-container full">
        <h1>Nozama Online Store Database</h1>

        <div>
            <h3>Search Products</h3>
            <form action = "/search" method = "post">
                Product Name*: <input name = "p_name" type="text" />
                Type*: <input name = "type" type="text" />
                Vendor*: <input name = "vendor" type="text" />
                <input value = "Search" type = "submit" />
            </form>
        </div>

        <div>
            <h3>All Products ({{ total_products }})</h3>
            <table class="center">
                <tr>
                    <th> Product Name </th>
                    <th> Type </th>
                    <th> Vendor </th>
                    <th> View Product </th>
                    <th> Delete Product </th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td> {{ product.p_name }} </td>
                        <td> {{ product.type }} </td>
                        <td> {{ product.vendor }} </td>
                        <td> <a href="/product/{{ product.p_id }}">View</a> </td>
                        <td> <a href="/delete?p_id={{ product.p_id }}">Delete</a> </td>
                    </tr>
                {% endfor %}
            </table>
            
            {% if page > 0 %}
                {% if page == 1 %}
                    <a href="/{{ query_string }}">PREV</a>
                {% else %}
                    <a href="{{ (page-1) }}{{ query_string }}">PREV</a>
                {% endif %}
            {% endif %}
            {% if has_next %}
                <a href="{{ page+1 }}{{ query_string }}">NEXT</a>
            {% endif %}
        </div>
    </div>

</body>
</html>