<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nozama Ecommerce Database Project - View Product</title>
    <meta name="author" content="Ruoda Yuan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/barebones.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>


<body>

    <div class="grid-container full">
        <h1>Nozama Online Store Database</h1>
        
        <a href="/">BACK</a>

        {% for data in product %}
            <h2>{{ data.p_name }}</h2>
            <table>
                <tr>
                    <td>Product Type:</td>
                    <td>{{ data.type }}</td>
                </tr>
                <tr>
                    <td>Vendor:</td>
                    <td>{{ data.vendor }}</td>
                </tr>
                <tr>
                    <td>Product Description:</td>
                    <td>{{ data.p_description }}</td>
                </tr>
            </table>
        {% endfor %}
    </div>

</body>
</html>