<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nozama Ecommerce Database Project - {{ p_name }}</title>
    <meta name="author" content="Ruoda Yuan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/barebones.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>


<body>

    <div class="grid-container full">
        <h1>Nozama Online Store Database</h1>
        
        <a href="/">← Home</a>

        <h2>{{ p_name }}</h2>
        <a href="/delete?p_id={{ p_id }}">Delete Product</a>

        <form action = "/product/{{ p_id }}/update" method="post" id="edit_product" style="margin-bottom: 0;">
            <div class="container space-between">
                <b>Name:&nbsp;&nbsp;<input name="p_name" type="text" value="{{ p_name }}"/></b>
                <b>Type:&nbsp;&nbsp;<input name="type" type="text" value="{{ type }}"/></b>
                <b>Vendor:&nbsp;&nbsp;<input name="vendor" type="text" value="{{ vendor }}"/></b>
                <b><input value = "Update" type = "submit" /></b>
            </div>
        </form>

        <b style="text-align: left;">Product Description:</b>
        <textarea name="p_description" form="edit_product">{{ p_description }}</textarea>

        <h4 style="margin-bottom: 0;">{{p_name}} Variants</h4>
        <div>
            <a href="/product/{{ p_id }}/variants/create">Add New</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/product/{{ p_id }}/variants">Edit Variants</a>
        </div>

        <table>
            <tr>
                <th>Variant Type:</th>
                <th>Variant Name:</th>
                <th>Price (US$):</th>
                <th>Stock:</th>
            </tr>
            {% for variant in variants %}
                <tr>
                    <td>{{ variant.v_title }}</td>
                    <td>{{ variant.v_name }}</td>
                    <td>{{ variant.price }}</td>
                    <td>{{ variant.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>