<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nozama Ecommerce Database Project - Search Results</title>
    <meta name="author" content="Ruoda Yuan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/barebones.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>


<body>

    <div class="grid-container full">
        <h1>Nozama Online Store Database</h1>

        <a href="/">← Home</a>

        <div>
            <h3>Search Products</h3>
            <form action="/search" method ="post">
                Product Name*: <input name="p_name" type="text" value="{{ queries["p_name"] }}" />
                Type*: <input name="type" type="text" value="{{ queries["type"] }}" />
                Vendor*: <input name="vendor" type="text" value="{{ queries["vendor"] }}" />
                <input value="Search" type="submit" />
            </form>
        </div>

        <div>
            <h3>Product Search Results</h3>
            <h6>(note: limit to maximum of 20 search results)</h6>
            <table class="center">
                <tr>
                    <th> Product Name </th>
                    <th> Type </th>
                    <th> Vendor </th>
                    <th> Details </th>
                    <th> Delete </th>
                    <th> Variants </th>
                    <th> New Variant </th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td> {{ result.p_name }} </td>
                        <td> {{ result.type }} </td>
                        <td> {{ result.vendor }} </td>
                        <td> <a href="/product/{{ result.p_id }}">View/Edit</a> </td>
                        <td> <a href="/delete?p_id={{ result.p_id }}">Delete</a> </td>
                        <td> <a href="/product/{{ result.p_id }}/variants">View/Edit</a> </td>
                        <td> <a href="/product/{{ result.p_id }}/variants/create">Add New</a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>